# == is a check and = is a setting

# Backlight Control
#ACTION=="add", SUBSYSTEM=="backlight", KERNEL=="acpi_video0", ATTR{brightness}="1"

# Battery Control
#ACTION=="change", SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="[0-5]", RUN+="/sbin/poweroff"

# Power Save On All Devices
ACTION=="add", SUBSYSTEM=="*", ATTR{power/autosuspend}="0"
ACTION=="add", SUBSYSTEM=="*", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="usb", ATTR{power/control}="on"

# USB Autosuspend Whitelist
#ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="xxxx", ATTR{idProduct}=="xxxx", ATTR{power/control}="on"

# USB Authorized Whitelist
#ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="xxxx", ATTR{idProduct}=="xxxx", ATTR{authorized}="1"

# CPU Scheduler
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo 5000000 > /sys/kernel/debug/sched/latency_ns'"
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo 5000000 > /sys/kernel/debug/sched/migration_cost_ns'"
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo 5000000 > /sys/kernel/debug/sched/min_granularity_ns'"
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo 500 > /sys/kernel/debug/sched/nr_migrate'"
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo full > /sys/kernel/debug/sched/preempt'"
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo 0 > /sys/kernel/debug/sched/tunable_scaling'"
ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo 5000000 > /sys/kernel/debug/sched/wakeup_granularity_ns'"

# I/O Scheduler
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", ATTR{queue/scheduler}="bfq"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="nvme*|mmcblk*", ATTR{queue/scheduler}="none"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", ATTR{queue/iosched/fifo_expire_async}="500"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", ATTR{queue/iosched/fifo_expire_sync}="500"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", ATTR{queue/iosched/timeout_sync}="500"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", ATTR{queue/iosched/slice_idle_us}="5000"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*|nvme*|mmcblk*", ATTR{queue/io_timeout}="500000"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*|nvme*|mmcblk*", ATTR{queue/wbt_lat_usec}="5000"

# Network Scheduler
ACTION=="add", SUBSYSTEM=="net", KERNEL=="lo", ATTR{tx_queue_len}="500"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="lo", ATTR{mtu}="65536"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wl*|et*", ATTR{tx_queue_len}="500"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wl*|et*", ATTR{mtu}="1425"

# CPU Governor
ACTION=="add", SUBSYSTEM=="cpu", KERNEL=="cpu*", ATTR{cpufreq/scaling_governor}="performance"
ACTION=="add", SUBSYSTEM=="cpu", KERNEL=="cpu*", RUN+="/bin/sh -c 'echo 5000 | tee /sys/devices/system/cpu/cpufreq/schedutil/rate_limit_us'"

# Sata Link Power Management
ACTION=="add", SUBSYSTEM=="scsi_host", KERNEL=="host*", ATTR{link_power_management_policy}="max_performance"

# RTC Timer Frequency
ACTION=="add", SUBSYSTEM=="rtc", KERNEL=="rtc0", ATTR{max_user_freq}="1"
