[Unit]
Description=Change MAC Systemd Service
Before=network.target

[Service]
ExecStart=/sbin/ip link set dev wlan0 address xx:xx:xx:xx:xx:xx

[Install]
WantedBy=multi-user.target
