[Unit]
Description=Qdisc Systemd Service

[Service]
ExecStart=/sbin/tc qdisc replace dev wlan0 root netem limit 250 delay 0.5ms rate 16Mbit

[Install]
WantedBy=multi-user.target
