# (CAKE) Use flows for multiple network connections or flowblind for a single network connection.

[Unit]
Description=Qdisc Systemd Service

[Service]
ExecStart=/sbin/tc qdisc replace dev wlan0 root cake bandwidth 16Mbit besteffort flowblind nonat nowash no-ack-filter split-gso rtt 5ms raw overhead 0

[Install]
WantedBy=multi-user.target
